@import url('https://fonts.googleapis.com/css2?family=Jim+Nightshade&family=Nanum+Gothic&family=Open+Sans:wght@300&family=Rubik+Moonrocks&display=swap');

* {
    font-family: 'Nanum Gothic', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    color: wheat;
    background: rgb(2, 0, 29);
}

a {
    text-decoration: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.container {

    flex-direction: column;
    border-radius: 0 0 5% 5%;
}

.container-table {
    padding: 2rem;
    border-radius: 0 0 5% 5%;
}

.container-table th:first-child {
    margin: 2rem;
}

.tableValues {
    text-align: center;
    padding: 0.25rem;
    background-color: rgba(255, 255, 255, 0.11);
    transition: box-shadow .5s, transform .5s, color .5s;
}

.tableValues:hover {
    background-color: purple;
    font-weight: bolder;
}



.tableValue-btnOption {
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-radius: 0.25rem;
    outline: none;
    box-shadow: 0 0 1rem royalblue inset;
}


.addnew {
    cursor: pointer;
    float: right;
    padding: 1rem;
    border-radius: 0.4rem;
    color: black;
    background: rgba(0, 185, 255, 1);
}

.addnew:hover {
    cursor: pointer;
    background: rgb(27, 71, 88);
    transition: 200ms;
}

label {
    color: white;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.2rem;
}

.active {
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.btnactive {
    display: none;
}

button {
    background-image: linear-gradient(to right bottom, #832fe0, #732fe3, #612fe6, #4930e9, #1f31ec);
    color: white;
    border: none;
    padding: 0.2rem;
    margin: 0.2rem;
    border-radius: 2rem;
    cursor: pointer;
}